header{
	padding: 15px;
	
}

.logo{
	font-size: 45px;
	color: #FA6980;
	display: inline-block;
	vertical-align: middle;
	margin-right: 100px;
	font-family: "helvetica";
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	font-style: normal;
	text-align: left;
	font-family: "helvetica";
	}

nav{
	display: inline-block;
	vertical-align: middle;
	

}

li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	font-style: normal;
	text-align: left;
	
}
.nav-color{
	color: #343638;
}
.section-1{
	margin-left: 140px;
	margin-top: 25px;
	width: 1160;
	height: 350;
}

.trending{
    background-color: white;
    width: 360px;
    height: 350px;
    display: inline-block;
}

body{
	background-color: #F6F8F9;
}

.h1-trend{

	font-family: "helvetica";
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
	font-style: normal;
	text-align: left;
	color: #202124;
	margin-bottom: 40px;
	display: inline-block;
	width: 1160px;
}

.dolore-magna {


	display: inline-block;
	width: 300px;
	height: 180px;

}

.dolore-p{
	font-family: "acumin pro";
	font-size: 13px;
	font-weight: 400;
	line-height: 23px;
	font-style: normal;
	text-align: left;
	color: #a6adb4;
	width: 281px;
	height: 38px;
	margin-bottom: 10px;
	margin-top: 66px;
	display: inline-block;
}
}

/*.clock-line{
	font-family: "helvetica";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	font-style: normal;
	text-align: left;
	color: #a6adb4;
	margin-bottom: 50px;
	}*/

.clock{
	position: absolute;
	width: 16px;
	height: 16px;
	
}
	
}

.min2-ago {
	margin-top: 3px;
	margin-left: 26px;
	padding-bottom: 10px;
	font-family: "helvetica";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	font-style: normal;
	text-align: left;
	color: #a6adb4;
	
}
	
}

.trending-sec{
	padding-left: 40px;
	padding-right: 40px;
	vertical-align: middle;
	display: inline-block;
}
/* Footer */

.f-1 {

}

.container-2 {
	width: 1903px;
	display: inline-block;
}

.ft-parrent {
	display: inline-block;
	position: relative;
}

#footerbanner {
	width: 1440px;
	height: 200px;
	display: inline-block;
	position: absolute;
	top: 1540px;
	left: 0px;

}

.footer-logo {
	width: 35px;
	height: 10px;
	display: inline-block;
	position: absolute;
	top: 1599px;
	left: 142px;
}

.navigation {

}

.f-list1 {
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	color: #cbd0d3;
	margin-bottom: 11px;
	position: relative;
	top: 1599px;
	left: 268px;
}

.f-list2 {
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	color: #cbd0d3;
	margin-bottom: 11px;
	position: relative;
	top: 1511px;
	left: 401px;
}

.f-list3 {
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	color: #cbd0d3;
	margin-bottom: 11px;
	position: relative;
	top: 1423px;
	left: 549px;
}

.p-footer {
	width: 244px;
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	color: #cbd0d3;
	display: inline-block;
	position: absolute;
	top: 1602px;
	left: 733px;
}

#instagram {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1596px;
	left: 1141px;
}

#twitter {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1596px;
	left: 1189px;
}

#fb {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1596px;
	left: 1237px;
}

#globe {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1596px;
	left: 1285px;
}
